
 
  <%= render 'shared/errors', obj: tweet%>

<%= simple_form_for @tweet do |form| %>

  <div class="field form-inputs">
    <%= form.input :tweet,
                required: true,
                autofocus: true,
                input_html: { rows: 10}%>
  </div>

  <div class="form-actions py-4">
    <%= form.submit %>
  </div>
<% end %>
